.aboutme:hover {
 
 
 background: linear-gradient(52deg, #0076ff, #00d0ff, #0ba1ce, #2a9ddf);
background-size: 800% 800%;

-webkit-animation: AnimationName 11s ease infinite;
-moz-animation: AnimationName 11s ease infinite;
animation: AnimationName 11s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:32% 0%}
    50%{background-position:69% 100%}
    100%{background-position:32% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:32% 0%}
    50%{background-position:69% 100%}
    100%{background-position:32% 0%}
}
@keyframes AnimationName { 
    0%{background-position:32% 0%}
    50%{background-position:69% 100%}
    100%{background-position:32% 0%}
}
 
} 

.hi {
    color: #00b6ff;
    background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 60s infinite linear;
}
