body {
    font-family: Arial, Helvetica, sans-serif;
  color:#000;
  overflow-x: hidden; 
	
}
toptextad {
	 font-family: Arial, Helvetica, sans-serif;
}

  nav.black {
    background-color:#000;
  }
  
  section.sec1 {
   backgrou 
  }
  
.javadis {
	background-color:#00aeff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.javadis:hover {
	background-color:#ffffff;
}
.javadis:active {
	position:relative;
	top:1px;
}


   .sidebar {
    background-color:rgba(0,0,0 , 0.6);
    width:160px;
    height:100%;
    
    float:left;
       height: 90%;
  width: 160px;
  position: fixed;
  z-index: 4;
  top: 136;
  left: 0;
  overflow-x: hidden;
 
  padding-top: 20px;
  }
  .rgr {
   padding:49; 
    position: relative;
    top:10px;
  }
.gr {
 padding:40;
     position: relative;
    top:10px;
    margin-left:16%;
    text-align:Center;
}
 
  
.hi {
 
  font-size: 72px;

}
 
  .aboutme:hover {
       background: -webkit-gradient(linear, left top, right top, from(#0072ff), to(#00d4ff));
    background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);

	  
    color:#fff;
      border-radius: 25px;
width:500;
height:500; 
    padding:30;
   opacity: 1;
  }



 
  .aboutme {
background-color:black;
    color:#000;
      border-radius: 25px;
width:500;
height:500; 
    padding:30;
	   opacity: 0;
     transition: 2s;
  }
  
  .toptexta {
   left:-94px;
  font-weight: bold;
   font-size:40px;
    position: relative;
    top:-26px; 
	    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .dgs {
   padding:9;
     position: relative;
    top:10px;
    margin-left:16%;
    text-align:Center;  
  }
  
  .know { 
    position: relative;
    bottom:560;
    left:569;
  }  
  
  
  
  .df {
   font-size:128px; 
  }
  
  .nav {
  font-size:40;
top:0;
    background-color: #fff;
      position:sticky;
    z-index:1;
     overflow-x: hidden;
      overflow-y: hidden;
     
          padding:9;
            top: 0;
            
  }
  
.lxogo {
   border-radius: 25px;
 text-align:center;
float:left;	
}

  .main {
   position: relative;
    overflow-x: hidden;
  }
  
  
  .topDs {
   float:right;
   font-size:40px;
    position: relative;
    top: 28px;
      font-weight: bold;
       text-transform: uppercase;
	  
  }
  

  .toptextleft {
left:380px;
  font-weight: bold;
   font-size:40px;
    position: relative;
    top:-26px;
	    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .might {
      position: relative;
      bottom:500;
  }
  
  .wa {
   font-size:60; 
  }
  .fg {
   height:600; 
  }
  .logo {
   border-radius: 25px;
 text-align:center;
  }
  
 a:link {
  color: black;
}
/* visited link */
a:visited {
  color: black;
}
/* mouse over link */
a:hover {
  color: #cbd0d6;
}
a.toptext:hover {
  background-color:#265be0;
}
a.toptextleft:hover {
  background-color:#265be0;
}
/* selected link */
a:active {
  color: blue;
}
 
 a {
   text-decoration: none; 
 }
 
.copyright {
 position: relative;
 text-align:center;
}
.bottom {
 background-color:#f2f2f2;
 padding:10px;
 width:100%;
  height: 40%;
  text-align:center;
}

/* width */
::-webkit-scrollbar {
  width:6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gery;
}
